:root{
    --nord0: #2E3440;}





body{    
   font-style: var();
   color: tomato;
    
}
header, section{
    width: 960px;
    margin: 0 auto ;
    display:flex ;
 
}
header, section{
    background-color: indianred;
    color: black;
    padding-top: 16px;
    padding-left: 16px;
}

article {
    width: 60%;

}

img{
    width: 200px;
    height: 200px;
    margin-right: 16px ;
}
a, a:link, a:visited {
    text-decoration: none;
    color: black
    font-weight: bold;

}
    